@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wellington CRUD</h1>
    <p class="lead">CRUD feito em Asp NET como aplicação Web usando HTML, CSS e  JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Leia Mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Start Inicial</h2>
        <p>
            ASP.NET MVC da á você um poder, patterns-based forma para construir websites dinâmicos que possui uma limpa separação de conceitos e dá um controle total
            sobre a marcação de entrada, desenvolvimento ágil.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Leia Mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mais biblotecas</h2>
        <p>NuGet é uma extenção gratuita do Visual Studio que torna facil a adição, remoção, e atualização de bibliotecas e ferramentas nos projetos Visual Studio.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Leia Mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hospedagem Web</h2>
        <p>Você pode facilmente encontrar uma compania de hospedagem web que ofereça um mix de ferramentas e valor para suas aplicações.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Leia Mais &raquo;</a></p>
    </div>
</div>