body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

td, th {
    text-align: center !important;
}


.body-content a {
    transition: 1s;
    border: 1px solid black;
    font-size: 1.5rem;
    padding: 5px;
    border-radius: 5px;
}

.body-content a:hover {
    transition: 1s;
    color: darkgrey;
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}}